h2, p, div {
    letter-spacing: 1px;
}

table th {
    text-align: center;
}

.wrapper {
    background-color: #0e566c;
}

.company-name {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

.hobbies-list {
    padding: 30px;
}

.contacts-list {
    padding-top: 20px;
    padding-bottom: 20px;
}

.work-time {
    white-space: nowrap;
    vertical-align: baseline;
}

.work-description {
    padding-left: 40px;
}

.position-name {
    font-weight: bold;
}

.ui.container {
display: flex !important;
justify-content: space-between;
}

.resume, .additional-info {
display: flex;
flex-direction: column;
}

.resume {
    background-color: honeydew;
    padding: 40px;
}

.additional-info {
    width: 30%;
    background-color: #000000;
    color: #ffffff;
}

#mssqlserver {
margin: 20px;
height: 8px;
}

#csharp {
margin: 20px;
height: 8px;
}

#java {
margin: 20px;
height: 8px;
}

#frontend {
margin: 20px;
height: 8px;
}

#algorithms {
margin: 20px;
height: 8px;
}

.resume {
width: 70%;
padding-right: 50px;
}

.resume-title {
display: flex;
align-items: flex-start;
font-size: 20px;
font-weight: bold;
border-bottom: 1px solid #0d71bb;
margin-top: 20px;
margin-bottom: 30px;
}

.resume-title i {
transform: scale(1.4);
padding-left: 3px;
}

.resume-title-text {
padding: 0 0 10px 10px;
}

.position-title {
    font-size: 20px;
    color: teal;
    padding: 75px 0 20px 0;
}

.applicant-name {
    font-size: 40px;
    align-self: left;
    padding-bottom: 35px;
    font-weight: bold;
}

.work-exp {
    border: none;
}

.additional-info-title {
    padding: 14px 15px;
    background-color: teal;
    display: flex;
    color: #0f0f10;
}

.additional-info-data{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}


.additional-info > div > ul > li{
    word-break: break-all;
    display: flex;
    flex-wrap: wrap;
}

.cv-photo {
    padding: 50px 35px 35px 35px;
}
.cv-photo img{
    max-width: 100%;
    max-height: 300px;
    object-fit: cover;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #1a69a4;
}